---
http_interactions:
- request:
    method: post
    uri: https://pilot-payflowpro.paypal.com/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><XMLPayRequest Timeout="60" version="2.1"
        xmlns="http://www.paypal.com/XMLPay"><RequestData><Vendor>wlplugins</Vendor><Partner>PayPal</Partner><Transactions><Transaction
        CustRef=""><Verbosity>MEDIUM</Verbosity><Authorization><PayData><Invoice><InvNum>5aafcc6e987b47ce3ab6aed5</InvNum><BillTo><Name>Ben
        Crouse</Name><Address><Street>22 s. 3rd st.</Street><City>Philadelphia</City><State>PA</State><Country>US</Country><Zip>19106</Zip></Address></BillTo><TotalAmt
        Currency="USD">5.00</TotalAmt></Invoice><Tender><Card><CardType>Visa</CardType><CardNum>4111111111111111</CardNum><ExpDate>201901</ExpDate><NameOnCard>Ben</NameOnCard><CVNum>999</CVNum><ExtData
        Name="LASTNAME" Value="Crouse"/></Card></Tender></PayData></Authorization></Transaction></Transactions></RequestData><RequestAuth><UserPass><User>apiuser</User><Password>j{C[hhsQ9h</Password></UserPass></RequestAuth></XMLPayRequest>
    headers:
      Content-Type:
      - text/xml
      X-Vps-Client-Timeout:
      - '60'
      X-Vps-Vit-Integration-Product:
      - ActiveMerchant
      X-Vps-Vit-Runtime-Version:
      - 2.3.0
      X-Vps-Request-Id:
      - e71d9aa714dff080df8d14deeef1b050
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Vps-Request-Id:
      - e71d9aa714dff080df8d14deeef1b050
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <XMLPayResponse  xmlns="http://www.paypal.com/XMLPay"><ResponseData><Vendor>wlplugins</Vendor><Partner>paypal</Partner><TransactionResults><TransactionResult><Result>0</Result><ProcessorResult><AVSResult>Y</AVSResult><CVResult>X</CVResult><HostCode>A</HostCode></ProcessorResult><FraudPreprocessResult><Message>No
        Rules Triggered</Message></FraudPreprocessResult><FraudPostprocessResult><Message>No
        Rules Triggered</Message></FraudPostprocessResult><IAVSResult>N</IAVSResult><AVSResult><StreetMatch>Match</StreetMatch><ZipMatch>Match</ZipMatch></AVSResult><CVResult>Service
        Not Available</CVResult><Message>Approved</Message><PNRef>A30A2CF31907</PNRef><AuthCode>102PNI</AuthCode><VisaCardLevel>12</VisaCardLevel></TransactionResult></TransactionResults></ResponseData></XMLPayResponse>
  recorded_at: Mon, 19 Mar 2018 14:42:55 GMT
- request:
    method: post
    uri: https://pilot-payflowpro.paypal.com/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><XMLPayRequest Timeout="60" version="2.1"
        xmlns="http://www.paypal.com/XMLPay"><RequestData><Vendor>wlplugins</Vendor><Partner>PayPal</Partner><Transactions><Transaction
        CustRef=""><Verbosity>MEDIUM</Verbosity><Capture><PNRef>A30A2CF31907</PNRef><Invoice><TotalAmt
        Currency="USD">5.00</TotalAmt></Invoice></Capture></Transaction></Transactions></RequestData><RequestAuth><UserPass><User>apiuser</User><Password>j{C[hhsQ9h</Password></UserPass></RequestAuth></XMLPayRequest>
    headers:
      Content-Type:
      - text/xml
      X-Vps-Client-Timeout:
      - '60'
      X-Vps-Vit-Integration-Product:
      - ActiveMerchant
      X-Vps-Vit-Runtime-Version:
      - 2.3.0
      X-Vps-Request-Id:
      - ba4d8224395d892db859c9a133f69d93
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Vps-Request-Id:
      - ba4d8224395d892db859c9a133f69d93
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <XMLPayResponse  xmlns="http://www.paypal.com/XMLPay"><ResponseData><Vendor>wlplugins</Vendor><Partner>paypal</Partner><TransactionResults><TransactionResult><Result>0</Result><ProcessorResult><AVSResult>Y</AVSResult><CVResult>X</CVResult><HostCode>A</HostCode></ProcessorResult><AVSResult><StreetMatch>Match</StreetMatch><ZipMatch>Match</ZipMatch></AVSResult><CVResult>Service
        Not Available</CVResult><Message>Approved</Message><PNRef>A20A2CEE6398</PNRef><AuthCode>102PNI</AuthCode><VisaCardLevel>12</VisaCardLevel></TransactionResult></TransactionResults></ResponseData></XMLPayResponse>
  recorded_at: Mon, 19 Mar 2018 14:42:55 GMT
recorded_with: VCR 2.9.3
