---
http_interactions:
- request:
    method: post
    uri: https://pilot-payflowpro.paypal.com/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><XMLPayRequest Timeout="60" version="2.1"
        xmlns="http://www.paypal.com/XMLPay"><RequestData><Vendor>wlplugins</Vendor><Partner>PayPal</Partner><Transactions><Transaction
        CustRef=""><Verbosity>MEDIUM</Verbosity><Sale><PayData><Invoice><InvNum>5aafcc65987b47ce3ab6aeb1</InvNum><BillTo><Name>Ben
        Crouse</Name><Address><Street>22 s. 3rd st.</Street><City>Philadelphia</City><State>PA</State><Country>US</Country><Zip>19106</Zip></Address></BillTo><TotalAmt
        Currency="USD">5.00</TotalAmt></Invoice><Tender><Card><CardType>Visa</CardType><CardNum>4111111111111111</CardNum><ExpDate>201901</ExpDate><NameOnCard>Ben</NameOnCard><CVNum>999</CVNum><ExtData
        Name="LASTNAME" Value="Crouse"/></Card></Tender></PayData></Sale></Transaction></Transactions></RequestData><RequestAuth><UserPass><User>apiuser</User><Password>j{C[hhsQ9h</Password></UserPass></RequestAuth></XMLPayRequest>
    headers:
      Content-Type:
      - text/xml
      X-Vps-Client-Timeout:
      - '60'
      X-Vps-Vit-Integration-Product:
      - ActiveMerchant
      X-Vps-Vit-Runtime-Version:
      - 2.3.0
      X-Vps-Request-Id:
      - ba389400eff1071e6756253bf3533b59
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Vps-Request-Id:
      - ba389400eff1071e6756253bf3533b59
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <XMLPayResponse  xmlns="http://www.paypal.com/XMLPay"><ResponseData><Vendor>wlplugins</Vendor><Partner>paypal</Partner><TransactionResults><TransactionResult><Result>0</Result><ProcessorResult><AVSResult>Y</AVSResult><CVResult>X</CVResult><HostCode>A</HostCode></ProcessorResult><FraudPreprocessResult><Message>No
        Rules Triggered</Message></FraudPreprocessResult><FraudPostprocessResult><Message>No
        Rules Triggered</Message></FraudPostprocessResult><IAVSResult>N</IAVSResult><AVSResult><StreetMatch>Match</StreetMatch><ZipMatch>Match</ZipMatch></AVSResult><CVResult>Service
        Not Available</CVResult><Message>Approved</Message><PNRef>A90A0A5D28D9</PNRef><AuthCode>750PNI</AuthCode><VisaCardLevel>12</VisaCardLevel></TransactionResult></TransactionResults></ResponseData></XMLPayResponse>
  recorded_at: Mon, 19 Mar 2018 14:42:46 GMT
- request:
    method: post
    uri: https://pilot-payflowpro.paypal.com/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><XMLPayRequest Timeout="60" version="2.1"
        xmlns="http://www.paypal.com/XMLPay"><RequestData><Vendor>wlplugins</Vendor><Partner>PayPal</Partner><Transactions><Transaction
        CustRef=""><Verbosity>MEDIUM</Verbosity><Void><PNRef>A90A0A5D28D9</PNRef></Void></Transaction></Transactions></RequestData><RequestAuth><UserPass><User>apiuser</User><Password>j{C[hhsQ9h</Password></UserPass></RequestAuth></XMLPayRequest>
    headers:
      Content-Type:
      - text/xml
      X-Vps-Client-Timeout:
      - '60'
      X-Vps-Vit-Integration-Product:
      - ActiveMerchant
      X-Vps-Vit-Runtime-Version:
      - 2.3.0
      X-Vps-Request-Id:
      - 1e190abe02d3c11b8e954f0b7ce25c03
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Vps-Request-Id:
      - 1e190abe02d3c11b8e954f0b7ce25c03
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <XMLPayResponse  xmlns="http://www.paypal.com/XMLPay"><ResponseData><Vendor>wlplugins</Vendor><Partner>paypal</Partner><TransactionResults><TransactionResult><Result>0</Result><ProcessorResult><HostCode>A</HostCode></ProcessorResult><Message>Approved</Message><PNRef>A20A2CEE6385</PNRef><AuthCode>750PNI</AuthCode></TransactionResult></TransactionResults></ResponseData></XMLPayResponse>
  recorded_at: Mon, 19 Mar 2018 14:42:46 GMT
recorded_with: VCR 2.9.3
